.noodle {
  display: table;
  table-layout: fixed;
  width: 100%;

  .header,
  .vote-set {
    display: table-row;

    .blank,
    .option,
    .name,
    .vote,
    .actions {
      display: table-cell;
    }
  }
}
