.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: $green;
}

.button-error {
  background: $red;
}

.button-warning {
  background: $orange;
}

.button-secondary {
  background: $blue-secondary;
}
